---
title: Heavy Cream | The Madbury Club
---
<header id="head">
	<div class="madbury-logo">
	<a href="http://madburyclub.com" target="_blank"> <img src="http://phironaka.github.io/heavy-creamery/images/Header_image_01.png"></a>
	</div>
	<div class="container">
    	<nav id="menu">

    		<input type="checkbox" id="toggle-nav"/>
    		<label id="toggle-nav-label" for="toggle-nav">Info</label>

    		<div class="box">
					<div class="container">
          <label id="toggle-nav-label" for="toggle-nav">Close</label>
	    		<h1>

          HeavyCream is The Madbury Club design house.</h1>
					<p> Art direction, Consulting, Photography, Graphic and Product Design.</p>
					<p> To receive a PDF portfolio e-mail: info@heavycre.am</p>
					<p> Heavy Cream@</p>
					<p> <img src="/images/brands.png" alt="" /></p>

</div>

      	</div>

    	</nav>
	</div>
</header>


<div class="welcome">

  <div class="logo">
<img src="http://phironaka.github.io/heavy-creamery/images/HEAVY_CREAM_VECTOR.svg">
  </div>

</div><!-- .welcome -->

<div class="bottom-nav">
	<%= link_to "@HEAVYCRE.AM", "https://instagram.com/heavycre.am", target: "_blank", class: "instagram" %>
    <p class="copyright">&#169; 2016</p>

</div>
